{% load static %}
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>amazon</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'affiliate/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'affiliate/css/modern-business.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="home.html">FUTURECARS</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="services.html">Privacy policy</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>


  <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('{% static 'affiliate/images/lee3.jpg' %}')">
          <div class="carousel-caption d-none d-md-block">
            <h3>First&furious</h3>
            <p>welcome to...</p>
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('{% static 'affiliate/images/lee2.jpg' %}')">
          <div class="carousel-caption d-none d-md-block">
            <h3>Toyota</h3>
            <p>awsome.</p>
          </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('{% static 'affiliate/images/lee1.jpg' %}')">
          <div class="carousel-caption d-none d-md-block">
            <h3>Ferrali</h3>
            <p>amaizing deals.</p>
          </div>
        </div>

      <div class="carousel-item" style="background-image: url('{% static 'affiliate/images/lee4.jpg' %}')">
          <div class="carousel-caption d-none d-md-block">
            <h3>Ferralis</h3>
            <p>cool</p>
          </div>
        </div>

      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </header>

  <!-- Page Content -->
  <div class="container">

    <h1 class="my-4">Welcome to Modern Business</h1>

      <!-- Portfolio Section -->
    <h2>get on board and lets roll</h2>

    <div class="row">
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-70">
          <a href="#"><img class="card-img-top" src="{% static 'affiliate/images/4.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">aventedor</a>
            </h4>
            <p class="card-text">A Ford GT40 and Ferrari P330 that were used in the Oscar-winning blockbuster film “Ford v Ferrari” are going on a tour of the American Midwest, appearing as part of a custom show-car series starting this weekend in Kansas City and later making stops in Detroit and Chicago.

</p>
            <button type="button" class="btn btn-danger">Buy:$20</button>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-70">
          <a href="#"><img class="card-img-top" src="{% static 'affiliate/images/3.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">aventerdor</a>
            </h4>
            <p class="card-text">Since opening in November with a production budget of $97 million, “Ford v Ferrari” has grossed almost $225 million worldwide as of Feb. 17. It was nominated for five Academy Awards including Best Picture and won two Oscars, for Best Film Editing and Best Sound Editing.</p>
          <button type="button" class="btn btn-danger">Buy:$15</button>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-70">
          <a href="#"><img class="card-img-top" src="{% static 'affiliate/images/2.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">vyron</a>
            </h4>
            <p class="card-text">The Tesla Model 3 is the only American vehicle at its price range listed on the Consumer Reports annual ranking of the best cars to buy in 2020.

The list of top vehicles was announced at the company’s Top Picks media event.
 </p>
            <button type="button" class="btn btn-danger">Buy:$21</button>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-70">
          <a href="#"><img class="card-img-top" src="{% static 'affiliate/images/lee1.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">buggati</a>
            </h4>
            <p class="card-text">The evaluations are conducted at CR’s Auto Testing and Safety Center in Colchester, Connecticut. Testing occurs on a racetrack and also looks at how vehicles will stand up in government and insurance industry crash tests.

Consumer Reports is a nonprofit that evaluates the safety and performance of consumer products through laboratory testing and research. It purchases all the vehicles it tests. </p>
            <button type="button" class="btn btn-danger">Buy:$13</button>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-7 portfolio-item">
        <div class="card h-70">
          <a href="#"><img class="card-img-top" src="{% static 'affiliate/images/7.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">lambogoni</a>
            </h4>
            <p class="card-text">The top vehicle brands in CR's report card were Porsche, Genesis, Subaru, Mazda, Lexus, Audi, Hyundai, BMW, Kia and Mini Cooper.

Rounding out the middle tier were Tesla, Toyota, Lincoln, Infiniti, Honda, Volkswagen, Nissan, Chrysler, Buick, Mercedes-Benz, Dodge, Volvo and Ford.

At the bottom of the overall list were Fiat, Mitsubishi, GMC, Alfa Romeo, Jaguar, Cadillac and Land Rover.
 </p>
            <button type="button" class="btn btn-danger">Buy:$31</button>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-70">
          <a href="#"><img class="card-img-top" src="{% static 'affiliate/images/lee1.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">lambogini</a>
            </h4>
            <p class="card-text">The Tesla offers “a thrilling driving experience with a high-tech vibe,” said Jake Fisher, senior director of auto testing for Consumer Reports.

“We saw a marked improvement in reliability in both the Tesla Model 3 and the Model S. That was enough to really improve their brand score more than any other brand in our survey.”

The Tesla Model 3 has a 250- to 330-mile range.
            </p>
            <button type="button" class="btn btn-danger">Buy:$11</button>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
      <hr><br/><br/><br/>
    <!-- Features Section -->
    <div class="row">
      <div class="col-lg-6">
        <h2>Modern Business Features</h2>
        <p>U.S. shoppers rely on the company for its rankings and insights on product safety and reliability, which factor into decisions to buy products.

Support real journalism. Support local journalism. Subscribe to The Atlanta Journal-Constitution today. See offers.

Your subscription to the Atlanta Journal-Constitution funds in-depth reporting and investigations that keep you informed.</p>
      </div>
      <div class="col-lg-6">
        <img class="img-fluid rounded" src="{% static 'affiliate/images/lee1.jpg' %}" alt="">
      </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Call to Action Section -->
    <div class="row mb-4">
      <div class="col-md-8">
        <p>Thank you for supporting real journalism.</p>
      </div>
      <div class="col-md-4">
        <a class="btn btn-lg btn-secondary btn-block" href="#">Call to Action</a>
      </div>
    </div>

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; leefeauturedrive 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'affiliate/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'affiliate/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
